cursor-arrow-right.cur
cursor-hand-right.cur
cursor-help-right.cur
cursor-appstarting-right.ani
original-arrow-path.txt
original-hand-path.txt
original-help-path.txt
original-appstarting-path.txt
*.zip
